*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
}

/* Nav style */

.navbar{
    display: flex;
    background-color: #00CBA9;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    min-height: 40px;
    position: fixed;
    padding: 8px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    flex-wrap: wrap; 
    margin: 0;   
}

.logo{
    max-width: 50px;
}

.nav-items{
    list-style-type: none;
    padding: 5px 10px;
}

.nav-link{
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: bolder;
}

.nav-button{
    padding: 5px 15px;
    border: none;
    background-color: #000;
    font-size: 1.3rem;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

/*main - fundamentacion*/

.fundamentacion{
    background: linear-gradient(#01caa8, #5ad8c5);
    padding: 8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}

.content-fundam{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-evenly;
    max-width: 700px;
    color: #000;
    background-color: transparent;
    border-radius: 25px;
}

h1{
    margin-bottom: 20px;
    font-size: 4.5rem;
}

.content-p{
    padding: 0 25px;
    font-size: 1.5rem;
}


.img-fundam{
    max-height: 400px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px #000;
}
/* ola */
.ola{
    background-color: #f2f2f2;
    display: block;
}

/* comun */
.subtittle{
    margin-bottom: 1rem;
    font-size: 3.5rem;
    color: #00CBA9;
}

.step{
    list-style-type: none;
    background-color: #6bbd898d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 10px 10px 3px #0000006a;
    padding: 10px;
}
.desc-step{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-p{
    font-size: 1.2rem;
    max-width: 66%;
    margin: 20px;
    text-align:justify;
    line-height: 25px;
    
}
/* procedimiento */

.subtittle-procedimiento{
    margin-bottom: 40px;
}

.stepswork{
    display: grid;
    grid-template-rows: 0.8fr 0.6fr 0.6fr 1fr;
    grid-template-columns: 1.9fr 1fr 0.5fr 0.5fr;
    grid-template-areas: 
    "box-li1 box-li1 box-li1 box-img1"
    "box-li2 box-li2 box-li3 box-li3"
    "box-li2 box-li2 box-li4 box-li4"
    "box-li5 box-li6 box-li6 box-li6";
    gap:30px;
    justify-content: center;
    margin: 0 3.5rem;
}

.procedimiento{
    background-color: #f2f2f2;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comprension-problem{
    grid-column: 1/3;
    min-height: 40vh;
    width: 100%;
    padding: 10px 60px;
}


.description{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    background-color: #5ac1d8;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #000;

}

.tittle-step{
    font-size: 2.0rem;
}

.desc-step{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100px;
    font-size: 1.5rem;
}

.description li{
    list-style-type: none;
    margin: 10px;
}

.img-s{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.img-step{
    max-height: 30rem;
    box-shadow: 2px 2px 3px #000;
    border-radius: 15px;
    background-color: #5ac1d8;
}

.comprension-datos{
    max-width: 100%;
}

.img-compdata{
    max-width: 30rem;
}

.img-eva{
    max-height: 20rem;
    
}

.frame{
    border-radius: 15px;
    box-shadow: 5px 4px 3px #000000b0;
}
/* media quieries para la seccion porcedimiento */


/* MODELO */
.modelos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#00cba9a0, #00CBA9) ;
}

.subtittle-modelos{
    color: #000;
}

.info-modelos{
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    grid-template-rows:  3fr 3fr;
    grid-template-areas: 
    "paragraph-modelo multi-modelo" 
    "rela-modelo rela-modelo ";
    max-width: 80%;
    margin: 20px;
    gap: 20px;
    text-align: justify;
    background-color: #42b4cd;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #00000052;
    justify-content: center;
    
}

.grid-element{
    background-color: #7cd5e9;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #00000052;
}

.p-info{
    padding: 20px;
    text-align:justify;
    line-height: 25px;
    font-size: 1.2rem;

}

.models{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 20px ;
}

.model-img{
    max-width: 45rem;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #00000029;
}

.model-tittle{
    font-size: 2.2rem;
    margin: 10px;
}

.content-p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* etl */

.etl{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f2f2;
}

.content-etl{
    max-width: 70%;
    background-color: #f2f2f2;
    padding: 30px;
    min-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.p-etl, .elem-etl{
    margin: 10px;
    margin-bottom: 10px;
    background-color: #6bbd898d;
    border-radius: 15px;    
    box-shadow: 10px 10px 5px #00000052;
    padding: 20px;
    text-align:justify;
    line-height: 20px;
    font-size: 1.2rem;
}

.p-usu{
    font-size: 1rem;
}
.grid-etl{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 0.5fr;
    max-width: 80%;
    grid-template-areas:
    "elt-litittle elt-img"
    "elt-descript elt-descript";
    gap: 20px;
    margin-bottom: 20px;
    
}

.grid-usu{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "elt-litittle elt-litittle elt-img elt-img"
    "elt-descript elt-descript elt-img elt-img"
    "elt-descript elt-descript elt-img elt-img";
}
.img4etl{
    min-height: 70%;
}

.diagrams-etl{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.img-etl{
    max-width: 15rem;
}

.elem-etl{
    background-color: #6bbd898d;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #00000052;

}

.data-etl{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-etl{
    text-align: justify;
    max-width: 50rem;
}

/* Analisis */
.subtittle-analisis{
    color: #000;
}

.analisis{
    background: linear-gradient(#01caa8, #5ad8c5);
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.contenedor-analisis{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.2fr 1.5fr;
    grid-template-rows: 0.6fr 0.4fr 0.6fr 1.2fr;
    grid-template-areas: 
    "lis-elem1 lis-elem1 lis-elem1 lis-elem1"
    "lis-elem2 lis-elem3 lis-elem3 lis-elem4 "
    "lis-elem2 lis-elem3 lis-elem3 lis-elem4"
    "lis-frame3 lis-frame3 lis-frame3  lis-frame3  ";
    max-width: 80%;
    gap: 20px;
    margin-bottom: 80px;
}

.grid-lisis-element{
    display: flex;
    padding: 20px;
    background-color: #7cd5e9;
    border-radius: 15px;    
    box-shadow: 10px 10px 5px #00000052;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;    

}

.sub-analisis{
    text-align: center;
    margin: 10px;
    font-size: 2rem;    
}

.p-analisis{
    max-width: 70%;
    margin: 20px;
}
.subtittle-analisis{
    margin-bottom: 5rem;
}

/* footer */
footer{
    height: 40vh;
    background-color: #000000d3;
}